@import "antd/lib/button/style";
@import "antd/lib/form/style";
@import "antd/lib/input/style";

/* Box Sizing  */
* *::before *::after {
  box-sizing: border-box;
}

/* Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

.body {
  font-family: var(--ff-poppins);
  font-size: var(--fs-400);
  background-color: rgb(var(--clr-bg-grey));
  color: hsl(var(--clr-white));
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

/* ------------- */
/* Custom Properties */
/* ------------- */
:root {
  /* colors */
  --clr-bg-grey: 242, 242, 242, 255;
  --clr-btn-grey: 248, 248, 248, 255;
  --clr-total-grey: 250, 250, 250, 255;
  --clr-white: 255, 255, 255, 255;
  --clr-black: 28, 28, 28, 255;
  --clr-text-grey: 128, 128, 128, 1;

  /* font-families */
  --ff-poppins: "Poppins", sans-serif;

  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 5rem;
  --fs-700: 2.5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.2rem;
  --fs-400: 1rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}
/* ------------- */
/* Custom Properties */
/* ------------- */

/* fonts */
.uppercase {
  text-transform: uppercase;
}

.pointer-cursor {
  cursor: pointer;
}

.fsc-900 {
  font-size: var(--fs-900);
}
.fsc-800 {
  font-size: var(--fs-800);
}
.fsc-700 {
  font-size: var(--fs-700);
}
.fsc-600 {
  font-size: var(--fs-600);
}
.fsc-500 {
  font-size: var(--fs-500);
}
.fsc-400 {
  font-size: var(--fs-400);
}
.fsc-300 {
  font-size: var(--fs-300);
}
.fsc-200 {
  font-size: var(--fs-200);
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fsc-900,
.fsc-800,
.fsc-700,
.fsc-600 {
  line-height: 1.1;
}

.text-black {
  color: rgb(var(--clr-black));
}
.text-grey {
  color: rgb(var(--clr-text-grey));
}
/* fonts */

.flex {
  display: flex;
}

/* ------------- */
/* Custom Properties */
/* ------------- */

button {
  cursor: pointer;
}
.container {
  background-color: rgb(var(--clr-white));
  padding: 4rem 4rem;
  margin: 2rem;
  max-width: 100%;
}

.main {
  display: flex;
  gap: 1rem;
}

.left-main {
  flex: 2 60%;
}

.right-main {
  flex: 1 29%;
}

.details-box {
  display: flex;
  justify-content: space-between;
  border: 2px solid #e7e7e7;
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  margin: 1rem;
  gap: 2rem;
}

span.detail-number {
  position: relative;
  z-index: 1;
  display: inline-grid;
}

span.detail-number::after {
  position: absolute;
  z-index: -1;
  content: " ";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: -4.8px;
  margin-top: 1.7px;
  border: 1px solid #f3f3f3;
}

.main-details {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
  padding-right: 9rem;
  max-width: 60%;
  gap: 0.5rem;
}

.main-details > span {
  font-size: 0.9rem;
}

.main-details > p {
  font-weight: 500;
}

.detail-title {
  display: flex;
}
.detail-title > img {
  height: 20px;
  width: 20px;
  border: none;
  margin-left: 0.7rem;
  margin-top: -2.5px;
}

.change-btn {
  padding: 0.2rem 1.5rem;
  background-color: rgb(var(--clr-btn-grey));
  border: 1px solid rgb(var(--clr-btn-grey));
  border-radius: 0.3rem;
  height: 2.4rem;
}

.breadcrumb {
  margin-inline: 0;
  padding-inline: 0;
  list-style: none;
  display: flex;
  gap: 0.7rem;
}

.order-box {
  border: 1px solid #e7e7e7;
  padding: 2rem;
  border-radius: 0.7rem;
  margin-top: 1rem;
}

.order-item {
  display: flex;
  gap: 1.2rem;
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.order-item::after {
  position: absolute;
  content: " ";
  height: 2px;
  width: 100%;
  display: block;
  background: rgb(var(--clr-btn-grey));
  z-index: -1;
  margin-top: -1rem;
}

#order-item-1::before {
  position: absolute;
  content: " ";
  height: 2px;
  width: 100%;
  display: block;
  background: rgb(var(--clr-btn-grey));
  z-index: -1;
  margin-top: -1rem;
}

img {
  height: 180px;
  width: 130px;
  border: 1px solid rgb(var(--clr-btn-grey));
  border-radius: 0.5rem;
}

.order-title {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.order-detail {
  display: flex;
  gap: 0.5rem;
}

.order-summary {
  display: flex;
  margin: 1rem 0;
}

.order-summary:first-child {
  position: relative;
  margin-top: 2rem;
  z-index: 1;
}

.order-summary:first-child::after {
  position: absolute;
  z-index: -1;
  content: " ";
  height: 2px;
  width: 100%;
  display: block;
  background: rgb(var(--clr-btn-grey));
  margin-top: -0.7rem;
}

.order-charge {
  flex: 2 60%;
}

.order-fee {
  flex: 1 30%;
}

.order-total-btn {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  width: 110%;
  padding: 3rem 1.5rem;
  margin-left: -1rem;
  margin-bottom: -1.2rem;
  background-color: rgb(var(--clr-btn-grey));
  border: 1px solid rgb(var(--clr-btn-grey));
  border-radius: 0.3rem;
}

.payment-header {
  background-color: rgb(var(--clr-btn-grey));
  border: 1px solid rgb(var(--clr-btn-grey));
  border-radius: 0.3rem;
  padding: 1rem 0.5rem;
  margin-inline: 0.7rem;
}

#payment-detail-number {
  position: relative;
  color: rgb(var(--clr-white));
  margin-left: 1.3rem;
  margin-right: 2rem;
}

#payment-detail-number::after {
  position: absolute;
  background-color: rgb(var(--clr-black));
  margin-top: -0.5px;
  margin-right: 0.5px;
}

.card-header {
  display: flex;
  margin-top: 1.5rem;
}

.card-header > img {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(var(--clr-black));
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 1.7rem;
  margin-left: 5rem;
}

.card-header > p {
  align-self: center;
  position: relative;
  z-index: 1;
}

.card-header > p::before {
  content: " ";
  position: absolute;
  z-index: -1;
  background-color: rgb(var(--clr-black));
  border: 1px solid rgb(var(--clr-black));
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: -8.2rem;
}
.card-header > p.disabled {
  z-index: 0;
}
.card-header > p.disabled::before {
  background-color: rgb(var(--clr-white));
}

.react-datepicker__input-container input {
  display: block;
  width: 94%;
  line-height: 56px;
  border: 1px solid rgb(var(--clr-black));
  border-radius: 0.5rem;
}

.react-datepicker__input-container input[type="text" i] {
  padding-left: 0.6rem;
  font-size: 1.2rem;
}

.payment-forms {
  margin-top: 3rem;
}
